@mixin divider-left {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;
    top: 10px;
    bottom: 10px;
    width: 1px
  }
}

@mixin vertically-centre {
  &:before {
    content: '';
    vertical-align: middle;
    height: 100%;
    display: inline-block;
  }
}

.header {
  color: $color-white;
  height: 58px;
}

.header--marketplace {
  background-color: $color-lilac;
}

.header--farm {
  background-color: $color-bluegreen;
}

.header__inner {
  @include vertically-centre;
  @include l-container;
  position: relative;
  height: 100%;
}

.header__item-vcentered {
  display: inline-block;
  vertical-align: middle;
}

.header__title {
  font-family: $heading-font-stack;
  font-weight: $font-weight-bold;
  font-size: $font-size-xxl;
  padding-right: 20px;
  padding-bottom: 10px;
  line-height: 50px;
}

.header__links {
  display: inline-block;
  margin-left: 20px;
  @include divider-left;
}

.header__link {
  color: $color-white;
  font-size: $font-size-md;
  position: relative;
  line-height: 50px;
  margin-left: 40px;
  text-decoration: none;
  &.active {
    font-weight: $font-weight-bold;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background-color: $color-white;
    }
  }
}

.header__user {
  display: none;
  @include media-query($screen-md-min) {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    right: $column-gutter * 2;
    @include vertically-centre;
  }
}

.header__avatar {
  width: 38px;
  height: 38px;
  border-radius: 19px;
}

.header__auth-links {
  font-size: $font-size-xxs;
  line-height: 1.2;
  margin-left: 10px;
}

.header__basket {
  line-height: 50px;
  padding-left: 22px;
  margin-left: 22px;
  position: relative;
}

.header__basket__count {
  position: absolute;
  top: 5px;
  right: -5px;
  background: #FC5252;
  color: #fff;
  display: inline-block;
  border-radius: 10px;
  font-size: 12px;
  padding: 1px 4px 2px 4px;
  line-height: 14px;
}
