@import "../../mixins/form-controls";

.form-input {
  @include form-control;
  background-image: none;
  border-radius: 2px;
  border: 1px solid $color-gray-80;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    text-align: right;
  }
}

.form-input--sm {
  min-height: $form-control-height-sm;
  padding: $form-control-padding-sm;
}

.form-input--inline {
  display: inline-block;
  width: auto;
}

.form-input--auto-width {
  width: auto;
}

.form-input--has-error {
  border-color: $color-error-border;
}

.form-input--2-digit {
  width: 50px;
}

.form-input__control-wrapper {
  display: inline-block;
  position: relative;
}

.form-input__prefix-label {
  position: absolute;
  left: 10px;
  top: 50%;
  color: $color-gray-40;
  transform: translateY(-50%);
}

.form-input--prefixed {
  padding-left: 30px;
}

.form-input__suffix-label {
  position: absolute;
  right: 10px;
  top: 50%;
  color: $color-gray-40;
  transform: translateY(-50%);
}

.form-input--suffixed {
  padding-right: 35px;
}
