@import "../variables/spacing";
@import "../variables/typography";

.heading {
  margin: 0;
  font-family: $heading-font-stack;
  font-size: $font-size-default;
  font-weight: normal;
  line-height: 1.1;
}

/* 30px */
.heading--xxl {
  font-size: $font-size-xxl;
}

/* 24px */
.heading--xl {
  font-size: $font-size-xl;
}

/* 20px */
.heading--lg {
  font-size: $font-size-lg;
}

/* 18px */
.heading--md {
  font-size: $font-size-md;
}

/* 14px */
.heading--sm {
  font-size: $font-size-sm;
}

.heading--underline {
  border-bottom: 1px solid $color-border;
  margin-bottom: $spacing-md;
  padding-bottom: $spacing-xs;
  &.heading--md {
    padding-bottom: $spacing-sm;
  }
}

.heading--bold {
  font-weight: $font-weight-bold;
}

.heading--semibold {
  font-weight: $font-weight-semibold;
}

.heading--gray-40 {
  color: $color-gray-40;
}
