.icon {
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -10rem;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
}

$icons: account-circle check-circle checkbox-checked checkbox-unchecked chevron-down chevron-up chevron-left chevron-right cross plus alert shopping-cart health arrow-back arrow-forward done location-symbol menu more close radio-checked radio-unchecked star-full star-empty star-half beefchart cullcow market live weather-day-atmosphere weather-day-clear weather-day-clouds weather-day-drizzle weather-day-rain weather-day-snow weather-day-thunderstorm weather-night-atmosphere weather-night-clear weather-night-clouds weather-night-drizzle weather-night-rain weather-night-snow weather-night-thunderstorm arrow-left-circle arrow-right-circle;

@each $icon in $icons {
  .icon--#{$icon} {
    background-image: url(/icons/#{$icon}.svg);
    &.icon--white {
      background-image: url(/icons/#{$icon}-white.svg);
    }
    &.icon--lilac {
      background-image: url(/icons/#{$icon}-lilac.svg);
    }
    &.icon--gray {
      background-image: url(/icons/#{$icon}-gray.svg);
    }
    &.icon--yellow {
      background-image: url(/icons/#{$icon}-yellow.svg);
    }
    &.icon--green {
      background-image: url(/icons/#{$icon}-green.svg);
    }
    &.icon--red {
      background-image: url(/icons/#{$icon}-red.svg);
    }
  }
}

.icon-text {
  display: inline-block;
  position: relative;
  padding-left: 1.6em;
  &.icon-text--lg {
    padding-left: 2em;
  }
  &.icon-text--right {
    padding-left: 0;
    padding-right: 1.6em;
    &.icon-text--lg {
      padding-right: 2em;
    }
    &.icon-text--sm {
      padding-right: 1.2em;
    }
  }
  > i {
    position: absolute;
    padding: 0;
    border: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: 0;
  }
  &.icon-text--right > i {
    left: auto;
    right: 0;
  }
}

.icon-text--xxs {
  padding-left: 0.8em;
}

.icon--xxxxl {
  width: 75px;
  height: 75px;
}

.icon--xxxl {
  width: 38px;
  height: 38px;
}

.icon--xxl {
  width: 30px;
  height: 30px;
}

.icon--xl {
  width: 24px;
  height: 24px;
}

.icon--lg {
  width: 16px;
  height: 16px;
}

.icon--sm {
  width: 12px;
  height: 12px;
}

.icon--xs {
  width: 10px;
  height: 10px;
}

.icon--xxs {
  width: 8px;
  height: 8px;
}

.icon--semi-transparent {
  opacity: 0.5;
}

.icon--vcenter {
  vertical-align: middle;
}

.icon--rotate-45 {
  transition: transform 0.15s ease-in-out;
  &.active {
    transform: rotate(45deg);
  }
}

.icon--rotate-90 {
  transition: transform 0.2s ease-in-out;
  &.active {
    transform: rotate(90deg);
  }
}

.icon--rotate-180 {
  transition: transform 0.25s ease-in-out;
  &.active {
    transform: rotate(-180deg);
  }
}