.icon {
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -10rem;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
}

$icons: account-circle checkbox-checked checkbox-unchecked chevron-down chevron-up plus alert shopping-cart health arrow-back arrow-forward done more close radio-checked radio-unchecked beefchart cullcow market;

@each $icon in $icons {
  .icon--#{$icon} {
    background-image: url(/icons/#{$icon}.svg);
    &.icon--white {
      background-image: url(/icons/#{$icon}-white.svg);
    }
    &.icon--lilac {
      background-image: url(/icons/#{$icon}-lilac.svg);
    }
    &.icon--gray {
      background-image: url(/icons/#{$icon}-gray.svg);
    }
  }
}

.icon-text {
  display: inline-block;
  position: relative;
  padding-left: 1.6em;
  > i {
    position: absolute;
    padding: 0;
    border: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}

.icon-text--xxs {
  padding-left: 0.8em;
}

.icon--xxxl {
  width: 38px;
  height: 38px;
}

.icon--xxl {
  width: 30px;
  height: 30px;
}

.icon--xl {
  width: 24px;
  height: 24px;
}

.icon--lg {
  width: 16px;
  height: 16px;
}

.icon--sm {
  width: 12px;
  height: 12px;
}

.icon--xs {
  width: 10px;
  height: 10px;
}

.icon--xxs {
  width: 8px;
  height: 8px;
}

.icon--semi-transparent {
  opacity: 0.5;
}

.icon--vcenter {
  vertical-align: middle;
}
