@import "../variables/spacing";
@import "../variables/breakpoints";
@import "../variables/colors";
@import "../mixins/layout";

$nav-width: 244px;
$layout-breakpoint: $screen-sm-min;

/*===================================== 2 COLUMN PAGE LAYOUT ==================================*/
// A container with max width, left nav column and fluid content column

.l-container {
  @include clearfix;
  @include l-container;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
}

.l-nav {
  @include l-container-column($layout-breakpoint);
  display: none;
  @include media-query($layout-breakpoint) {
    display: block;
    width: $nav-width;
    margin-left: 0;
  }
}

.l-content {
  @include l-container-column($layout-breakpoint);
  margin-bottom: $column-gutter;
  @include media-query($layout-breakpoint) {
    width: calc(100% - #{$nav-width} - (#{$column-gutter} * 2));
    margin-right: 0;
  }
}

/*======================================= HORIZONTAL LAYOUTS ==================================*/
// For laying out elements in a horizontal row with control of their proportional widths
// and vertical / horizontal alignment

.l-inline-parent {
  font-size: 0;
}

.l-vcenter-children {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.l-inline-child {
  font-size: 1rem;
  display: inline-block;
}

.l-inline-child-valign-center {
  vertical-align: middle;
}

.l-inline-child-valign-top {
  vertical-align: top;
}

.l-hcenter-children {
  text-align: center;
}

.l-hcentered {
  margin-left: auto;
  margin-right: auto;
}

.l-width-10 {
  width: 10%;
}

.l-width-20 {
  width: 20%;
}

.l-width-25 {
  width: 25%;
}

.l-width-33 {
  width: 33.33333333333333%;
}

.l-width-30 {
  width: 30%;
}

.l-width-40 {
  width: 40%;
}

.l-width-50 {
  width: 50%;
}

.l-width-60 {
  width: 60%;
}

.l-width-80 {
  width: 80%;
}

.l-width-100 {
  width: 100%;
}

.l-push-10 {
  margin-left: 10%;
}

.l-width-70 {
  width: 70%;
}

.l-width-sm-30 {
  @include media-query($screen-sm-min) {
    width: 30%;
  }
}

.l-width-sm-50 {
  @include media-query($screen-sm-min) {
    width: 50%;
  }
}

.l-width-md-30 {
  @include media-query($screen-md-min) {
    width: 30%;
  }
}

.l-width-md-50 {
  @include media-query($screen-md-min) {
    width: 50%;
  }
}

.l-align-center {
  text-align: center;
}

.l-align-right {
  text-align: right;
}

/*============================ LAYERING ONE CONTAINER OVER ANOTHER ==============================*/
.l-position-context {
  position: relative;
}

.l-overlay-top-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.l-overlay-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*===================================== OTHER UTILITIES ========================================*/
.l-full-height {
  height: 100%;
}