@import "../variables/spacing";
@import "../variables/breakpoints";
@import "../variables/colors";
@import "../mixins/layout";

$nav-width: 200px;
$layout-breakpoint: $screen-sm-min;

.l-container {
  @include clearfix;
  max-width: $screen-lg-min;
  width: 100%;
  margin: 0 auto;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
  padding-left: $column-gutter;
  padding-right: $column-gutter;
}

.l-nav {
  @include l-container-column($layout-breakpoint);
  background-color: $color-white;
  display: none;
  @include media-query($layout-breakpoint) {
    display: block;
    width: $nav-width;
    margin-left: 0;
  }
}

.l-content {
  @include l-container-column($layout-breakpoint);
  background-color: $color-white;
  margin-bottom: $column-gutter;
  @include media-query($layout-breakpoint) {
    width: calc(100% - #{$nav-width} - (#{$column-gutter} * 4));
    margin-right: 0;
  }
}
