.link {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.link--unstyled {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.link--capitals {
  color: $color-red-dark;
  text-transform: uppercase;
}