.hidden-sm {
  display: none;
  @include media-query($screen-md-min) {
    display: block;
  }
}

.hidden-xs-inline {
  display: none;
  @include media-query($screen-sm-min) {
    display: inline;
  }
}

.hidden-sm-inline {
  display: none;
  @include media-query($screen-md-min) {
    display: inline;
  }
}

.hidden-xs-block {
  display: none;
  @include media-query($screen-sm-min) {
    display: block;
  }
}

.hidden-sm-block {
  display: none;
  @include media-query($screen-md-min) {
    display: block;
  }
}
