$sizes: xxs xs sm md ml lg xl xxl xxxl;
$sides: top right bottom left;
$spacing-map: (
        xxs:  $spacing-xxs,
        xs:   $spacing-xs,
        sm:   $spacing-sm,
        md:   $spacing-md,
        ml:   $spacing-ml,
        lg:   $spacing-lg,
        xl:   $spacing-xl,
        xxl:  $spacing-xxl,
        xxxl: $spacing-xxxl,
        none: 0
);

@each $size in $sizes {
  .padding-#{$size} {
    padding: map-get($spacing-map, $size);
  }
  .margin-#{$size} {
    margin: map-get($spacing-map, $size);
  }
  @each $side in $sides {
    .padding-#{$side}-#{$size} {
      padding-#{$side}: map-get($spacing-map, $size);
    }
    .margin-#{$side}-#{$size} {
      margin-#{$side}: map-get($spacing-map, $size);
    }
  }
}
