.text {

}

.text--xxxl {
  font-size: $font-size-xxxl;
}

.text--xxl {
  font-size: $font-size-xxl;
}

.text--xl {
  font-size: $font-size-xl;
}

.text--lg {
  font-size: $font-size-lg;
}

.text--md {
  font-size: $font-size-md;
}

.text--sm {
  font-size: $font-size-sm;
}

.text--xs {
  font-size: $font-size-xs;
}

.text--xxs {
  font-size: $font-size-xxs;
}

.text--discreet {
  color: $color-gray-30;
}

.text--light {
  font-weight: $font-weight-light;
}

.text--regular {
  font-weight: $font-weight-regular;
}

.text--bold {
  font-weight: $font-weight-bold;
}

.text--semibold {
  font-family: $heading-font-stack;
  font-weight: $font-weight-semibold;
}

.text--italic {
  font-style: italic;
}

.text--white {
  color: $color-white;
}

.text--gray-30 {
  color: $color-gray-30;
}

.text--gray-40 {
  color: $color-gray-40;
}

.text--gray-50 {
  color: $color-gray-50;
}

.text--gray-60 {
  color: $color-gray-60;
}

.text--gray-80 {
  color: $color-gray-80;
}

.text--red {
  color: $color-red;
}

.text--capitalized {
  text-transform: uppercase;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--capitals {
  color: $color-gray-60;
  font-size: $font-size-xxs;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
