
/**
 * Remove inner padding and border in Firefox 4+.
 */
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Completely unstyled button, so either link or button styles can be layered on top
.btn {
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  display: inline-block;
  padding: 0;
  margin: 0;
  border-width: 0;
  border-style: none;
  border-radius: 0;
  cursor: pointer;
  background: transparent none;
  overflow: visible;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-appearance: none;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &:focus,
  &:active {
    box-shadow: none;
    outline: 0;
    color: inherit;
    text-decoration: none;
  }
}


@mixin button-like {
  height: $form-control-height-md;
  border: 1px solid transparent;
  padding: $form-control-padding-md;
  min-width: 110px;
  text-align: center;
  font-size: $font-size-sm;
  border-radius: 2px;
  font-weight: 700;
  line-height: 1.2;
  transition: background-color 0.15s linear, border-color 0.15s linear;
}

.btn--primary {
  @include button-like;
  background-color: $color-red-dark;
  border-color: $color-red-dark;
  color: $color-white;
  &:hover, &:active, &:focus {
    color: $color-white;
    background-color: $color-red;
    border-color: $color-red;
  }
}

.btn--secondary {
  @include button-like;
  background-color: $color-yellow;
  border-color: $color-yellow;
  color: $color-gray-30;
  &:hover, &:active, &:focus {
    background-color: $color-yellow-dark;
    border-color: $color-yellow-dark;
    color: $color-white;
  }
}

.btn--tertiary {
  @include button-like;
  background-color: $color-gray-60;
  border-color: $color-gray-60;
  color: $color-gray-96;
  &:hover, &:active, &:focus {
    background-color: $color-gray-40;
    border-color: $color-gray-40;
    color: $color-white;
  }
}

.btn--confirm {
  @include button-like;
  color: $color-white;
  background-color: $color-orange;
  border-color: $color-orange;
  &:hover, &:active, &:focus {
    color: $color-white;
  }
}

.btn--cancel {
  @include button-like;
  color: $color-white;
  background-color: $color-gray-60;
  &:hover, &:active, &:focus {
    color: $color-white;
  }
}

.btn--link {
  color: $color-red-dark;
  font-size: $font-size-xs;
  line-height: $font-size-xs;
  text-transform: uppercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--xxxs {
  font-size: $font-size-xxxs;
}

.btn--xxs {
  font-size: $font-size-xxs;
}

.btn--xs {
  font-size: $font-size-xs;
}

.btn--sm {
  font-size: $font-size-xs;
  height: $form-control-height-sm;
  padding: $form-control-padding-xs;
  min-width: initial;
  @include media-query($screen-sm-min) {
    font-size: $font-size-sm;
    padding: $form-control-padding-sm;
  }
}

.btn--lg {
  font-size: $font-size-lg;
  padding: $form-control-padding-lg;
}

.btn--gray-40.btn--gray-40 {
  color: $color-gray-40;
}


.btn--icon {
  position: relative;
  padding-right: 1.2em;
  > i {
    position: absolute;
    padding: 0;
    border: 0;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}
