
/**
 * Remove inner padding and border in Firefox 4+.
 */
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Completely unstyled button, so either link or button styles can be layered on top
.btn {
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  display: inline-block;
  padding: 0;
  margin: 0;
  border-width: 0;
  border-style: none;
  border-radius: 0;
  cursor: pointer;
  background: transparent none;
  overflow: visible;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-appearance: none;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &:focus,
  &:active {
    box-shadow: none;
    outline: 0;
    color: inherit;
    text-decoration: none;
  }
}


@mixin button-like {
  height: 36px;
  border: 1px solid transparent;
  padding: 6px 12px;
  min-width: 110px;
  text-align: center;
  font-size: $font-size-sm;
  border-radius: 2px;
  font-weight: 700;
  line-height: 1.2;
}

.btn--primary {
  @include button-like;
  background-color: $color-red;
  color: $color-white;
  &:hover, &:active, &:focus {
    border-color: transparent;
    color: $color-white;
  }
}

.btn--secondary {
  @include button-like;
  background-color: $color-yellow;
  color: $color-gray-30;
  &:hover, &:active, &:focus {
    background-color: $color-yellow-dark;
    color: $color-white;
  }
}

.btn--tertiary {
  @include button-like;
  background-color: $color-gray-60;
  color: $color-gray-96;
  &:hover, &:active, &:focus {
    background-color: $color-gray-40;
    color: $color-white;
  }
}

.btn--confirm {
  @include button-like;
  color: $color-white;
  background: $color-orange;
  &:hover, &:active, &:focus {
    border-color: transparent;
    color: $color-white;
  }
}

.btn--cancel {
  @include button-like;
  color: $color-white;
  background: $color-gray-60;
  &:hover, &:active, &:focus {
    border-color: transparent;
    color: $color-white;
  }
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--lg {
  font-size: $font-size-lg;
}

.btn--gray-40.btn--gray-40 {
  color: $color-gray-40;
}


.btn--icon {
  position: relative;
  padding-right: 1.2em;
  > i {
    position: absolute;
    padding: 0;
    border: 0;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}
