.popup-menu {
  position: relative;
}

.popup-menu__panel {
  position: absolute;
  top: calc(100% + 5px);
  display: none;
  z-index: 99;
  background-color: $color-white;
  color: $color-gray-40;
  padding: $spacing-md;
  box-shadow: $box-shadow-popup-sm;

  .popup-menu.active & {
    display: block;
  }
  .popup-menu--right-align & {
    right: 0;
  }
}

.popup-menu__item {
  display: block;
  margin-bottom: $spacing-sm;
  white-space: nowrap;
}