
.form-select {
  @include form-control;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="475 -301.4 1792 1792" enable-background="new 475 -301.4 1792 1792" xml:space="preserve"><g>	<g>		<g>			<defs>				<rect id="SVGID_1_" x="474" y="83.4" width="1818.5" height="1044.8"/>			</defs>			<clipPath id="SVGID_2_">				<use xlink:href="#SVGID_1_"  overflow="visible"/>			</clipPath>			<path fill="#999999" clip-path="url(#SVGID_2_)" d="M1328.7,1110.6c12.1,12.1,25.8,18,41.3,18c15.6,0,29.4-6,41.3-18l836.9-836.8				c12-12,17.9-25.8,17.9-41.3c0-15.6-5.9-29.4-17.9-41.3l-89.7-89.8c-12.1-11.9-25.8-18-41.3-18c-15.6,0-29.4,6-41.3,18				l-705.8,705.7L664.4,101.4c-11.9-11.9-25.7-18-41.3-18s-29.4,6-41.3,18L492,191.2c-11.9,12-18,25.7-18,41.3				c0,15.5,6,29.3,18,41.3L1328.7,1110.6L1328.7,1110.6z"/>		</g>	</g></g></svg>');
  background-size: 20% 40%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  /* Hides dropdown arrow on IE11 */
  &::-ms-expand  {
    display: none;
  }
}
