.table {
  background-color: $color-white;
  border-collapse: collapse;
  font-size: $font-size-sm;
  color: $color-gray-40;
  table-layout: fixed;
  width: 100%;
  th {
    font-family: $heading-font-stack;
    font-size: $font-size-xxs;
    font-weight: $font-weight-semibold;
    letter-spacing: 1.2px;
    color: $color-gray-60;
    padding-top: 24px;
    padding-bottom: 24px;
    text-transform: uppercase;
  }
  td {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  th,
  td {
    border-bottom: 2px solid $color-gray-96;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    vertical-align: middle;
    &.table__align-right,
    &.table__total-row {
      text-align: right;
    }
    &.table__total-row {
      border-bottom: 0 none;
    }
    &:first-child {
      padding-left: 24px;
    }
    &:last-child {
      padding-right: 24px;
    }
  }
  tr.active td {
    background-color: $color-blue-light;
  }
}

.table--sm {
  font-size: $font-size-xxxs;
  th {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  td {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  th,
  td {
    padding-left: 5px;
    padding-right: 5px;
    &:first-child {
      padding-left: 8px;
    }
    &:last-child {
      padding-right: 8px;
    }
  }

  @include media-query($screen-md-min) {
    font-size: $font-size-xs;
    th,
    td {
      padding-left: 10px;
      padding-right: 10px;
      &:first-child {
        padding-left: 16px;
      }
      &:last-child {
        padding-right: 16px;
      }
    }
  }
}

.table--auto-layout {
  table-layout: auto;
}

.table--auto-width {
  table-layout: auto;
  width: auto;
}

.table--auto-width-responsive {
  table-layout: auto;
  width: 100%;
  @include media-query($screen-sm-min) {
    width: auto;
  }
}

.table__loading-cell {
  height: 150px;
}

.table__total-row {
  vertical-align: bottom;
}

.table__total-label {
  padding-right: $spacing-md;
  font-size: $font-size-xxs;
  color: $color-gray-60;
  text-transform: uppercase;
}

.table__total-value {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.table__cell-no-wrap {
  white-space: nowrap;
}

.table__cell-hidden-xs {
  display: none;
  @include media-query($screen-sm-min) {
    display: table-cell;
  }
}

.table__cell-visible-lg {
  display: none;
  @include media-query($screen-lg-min) {
    display: table-cell;
  }
}