.table {
  background-color: $color-white;
  border-collapse: collapse;
  font-size: $font-size-sm;
  color: $color-gray-40;
  width: 100%;
  @include media-query($screen-sm-min) {
    table-layout: fixed;
  }
  th {
    font-family: $heading-font-stack;
    font-size: $font-size-xxs;
    font-weight: $font-weight-semibold;
    letter-spacing: 1.2px;
    color: $color-gray-60;
    padding-top: 24px;
    padding-bottom: 24px;
    text-transform: uppercase;
  }
  td {
    padding-top: 12px;
    padding-bottom: 12px;
    transition: background-color 0.5s ease-in-out;
  }
  th,
  td {
    border-bottom: 2px solid $color-gray-96;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    vertical-align: middle;
    &.table__align-right,
    &.table__total-row {
      text-align: right;
    }
    &.table__total-row {
      border-bottom: 0 none;
    }
    &:first-child {
      padding-left: 24px;
    }
    &:last-child {
      padding-right: 24px;
    }
  }
  tr.active td {
    background-color: $color-blue-light;
  }
}

.table--sm {
  @extend .table--compact-spacing;
  font-size: $font-size-xxxs;
  @include media-query($screen-md-min) {
    font-size: $font-size-xs;
  }
}

.table--lg {
  font-size: $font-size-sm;
  @include media-query($screen-md-min) {
    font-size: $font-size-md;
  }
  th {
    font-size: $font-size-xs;
  }
}

.table--compact-spacing {
  th {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  th,
  td {
    padding-left: 4px;
    padding-right: 4px;
    &:first-child {
      padding-left: 8px;
    }
    &:last-child {
      padding-right: 8px;
    }
  }

  @include media-query($screen-md-min) {
    th,
    td {
      padding-left: 8px;
      padding-right: 8px;
      &:first-child {
        padding-left: 14px;
      }
      &:last-child {
        padding-right: 14px;
      }
    }
  }
}

.table--auto-layout {
  table-layout: auto;
}

.table--auto-width {
  table-layout: auto;
  width: auto;
}

.table--auto-width-responsive {
  table-layout: auto;
  width: 100%;
  @include media-query($screen-sm-min) {
    width: auto;
  }
}

.table__loading-cell {
  height: 150px;
}

.table__total-row {
  text-align: right;
  vertical-align: bottom;
}

.table__total-label {
  padding-right: $spacing-md;
  font-size: $font-size-xxs;
  color: $color-gray-60;
  text-transform: uppercase;
}

.table__total-value {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.table__cell-no-wrap {
  white-space: nowrap;
}

.table__cell-hidden-xs {
  display: none;
  @include media-query($screen-sm-min) {
    display: table-cell;
  }
}

.table__cell-visible-lg {
  display: none;
  @include media-query($screen-lg-min) {
    display: table-cell;
  }
}

$scrollbar-width: 7px;

@include media-query($screen-sm-min) {
  .table--fixed-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // set a pixel height here for the individual table; either add another class, or use an inline style

    * {
      box-sizing: inherit;
    }

    thead {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: calc(100% - #{$scrollbar-width})
    }

    tbody {
      overflow-y: scroll;
      display: inline-block;
    }

    thead > tr, tbody > tr, tfoot > tr {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    thead, tfoot {
      flex-shrink: 0;
    }

    th, tbody td {
      overflow-x: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      // set widths here, either % or px, for the individual table's cells, either add more classes or use an inline style
    }

    tfoot {
      display: inline-block;
    }

    tfoot td {
      width: 100%;
      display: inline-block;
    }
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: $scrollbar-width;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }
}

.table--striped-rows {
  tbody tr:nth-child(odd) {
    background: $color-gray-96;
  }
}

