.provenance-farm__img {
	display: inline-block;
	height: 30px;
	margin-right: $spacing-xs;
	&:last-child {
		margin-right: 0;
	}
	@include media-query($screen-md-min) {
		height: 40px;
		margin-right: $spacing-sm;
	}
}
