.callout {
  position: relative;
  background-color: $color-white;
  border-radius: 8px;
  border: 1px solid $color-gray-90;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px 15px;
    z-index: 1;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px 15px;
  }
}

.callout--vtop-hcenter {
  &:before, &:after {
    left: 50%;
  }
  &:before {
    border-bottom-color: $color-white;
    transform: translate(-50%, -100%);
    top: 0;
  }
  &:after {
    border-bottom-color: $color-gray-90;
    transform: translate(-50%, -100%);
    top: -1px;
  }
}