.panel {
  border-radius: 2px;
  padding: $spacing-md $spacing-ml;
}

.panel--semi-opaque {
  background-color: rgba(255, 255, 255, 0.85);
}

.panel--white-rounded {
  background-color: $color-white;
  border-radius: 6px;
  padding: 0;
  .panel__section {
    padding: 24px;
  }
  .panel__section-border {
    border-bottom: 2px solid $color-gray-96;
  }
}

.panel--bordered {
  border: 2px solid $color-gray-96;
  padding: 0;
}

.panel__header {
  background-color: $color-gray-98;
  padding: 24px;
}

.panel--bordered .panel__body {
  padding: 24px;
}

.panel--bordered .panel__body-side-padding {
  padding-left: 24px;
  padding-right: 24px;
}
