
$color-white: #FFFFFF;
$color-gray-5: #222222;
$color-gray-3: #5C656E;
$color-gray-2: #AAAAAA;
$color-gray-1: #F9F9F9;
$color-red: #fb0305;
$color-pink: #fbcdc9;
$color-blue-pale: #e4f9fb;
$color-green: #7CFC00;

$color-text-default: $color-gray-5;
$color-background-default: $color-white;
$color-border: $color-gray-2;
$color-link: $color-gray-3;
$color-form-control-background: $color-blue-pale;
$color-error-background: $color-pink;
$color-error-border: $color-red;
$color-success-background: $color-green;