$color-gray-98: #FAFAFA;
$color-gray-96: #F5F5F5;
$color-gray-94: #F0F0F0;
$color-gray-90: #E6E6E6;
$color-gray-80: #CCCCCC;
$color-gray-70: #B3B3B3;
$color-gray-60: #999999;
$color-gray-50: #808080;
$color-gray-40: #666666;
$color-gray-30: #4C4C4C;
$color-gray-20: #333333;
$color-gray-15: #262626;
$color-gray-10: #1A1A1A;

$color-white: #FFFFFF;

$color-purple: #581845;
$color-purple-light: #874470;
$color-purple-dark: #3F002A;

$color-lilac: #7986CB;
$color-lilac-light: #AAB6FE;
$color-lilac-dark: #49599A;

$color-blue: #CBE2FD;
$color-blue-light: #E1EDFF;

$color-bluegreen: #4CB5AB;
$color-bluegreen-light: #81E8DD;
$color-bluegreen-dark: #00857C;

$color-orange: #FF8A65;
$color-orange-light: #FFBB93;
$color-orange-dark: #C75B39;

$color-red: #FC5252;
$color-red-light: #F97B7B;
$color-red-dark: #C21029;

$color-yellow: #FFC300;
$color-yellow-dark: #C79300;

$color-orange-yellow: #FFAF38;

$color-green: #74C176;

$color-brown: #D79D56;
$color-brown-dark: #c27500;

$color-pink: #900C3F;

$color-text-default: $color-gray-15;
$color-background-default: $color-white;
$color-border: $color-gray-70;
$color-link: $color-gray-30;
$color-form-control-background: $color-white;
$color-error-background: $color-pink;
$color-error-border: $color-orange-dark;
$color-success-background: $color-green;
