$color-gray-98: #FAFAFA;
$color-gray-96: #F5F5F5;
$color-gray-94: #F0F0F0;
$color-gray-90: #E6E6E6;
$color-gray-80: #CCCCCC;
$color-gray-70: #B3B3B3;
$color-gray-60: #999999;
$color-gray-50: #808080;
$color-gray-40: #666666;
$color-gray-30: #4C4C4C;
$color-gray-20: #333333;
$color-gray-15: #262626;
$color-gray-10: #1A1A1A;

$color-white: #FFFFFF;

$color-purple: #581845;
$color-purple-light: #874470;
$color-purple-dark: #3F002A;

$color-lilac: #7c7fcd;

$color-orange: #FF5733;
$color-orange-light: #FF8A5F;
$color-orange-dark: #C41C04;

$color-red: #ff4644;

$color-yellow: #FFC300;
$color-yellow-dark: #ffa620;

$color-green: #B4C445;

$color-brown: #D79D56;
$color-brown-dark: #c27500;

$color-pink: #900C3F;

$color-text-default: $color-gray-15;
$color-background-default: $color-white;
$color-border: $color-gray-70;
$color-link: $color-gray-30;
$color-form-control-background: $color-white;
$color-error-background: $color-pink;
$color-error-border: $color-orange-dark;
$color-success-background: $color-green;
