$form-control-height-md: 36px;
$form-control-height-sm: 28px;
$form-control-height-xs: 20px;
$form-control-height-xxs: 16px;
$form-control-padding-lg: 6px 16px 8px 16px;
$form-control-padding-md: 6px 12px;
$form-control-padding-sm: 4px 10px;
$form-control-padding-xs: 3px 6px;
$form-control-padding-xxs: 1px 4px 2px 4px;

$form-label-color: $color-gray-40;