$spacing-xxxs: 2px;
$spacing-xxs: 3px;
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-ml: 20px;
$spacing-xml: 25px;
$spacing-lg: 30px;
$spacing-xl: 45px;
$spacing-xxl: 60px;
$spacing-xxxl: 120px;


$column-gutter: 8px;
$column-gutter-double: $column-gutter * 2;
