$font-size-default: 16px;

$font-size-xxxl: 2.2352941176rem; // 38px
$font-size-xxl:  1.8235294118rem; // 31px
$font-size-xl:   1.4705882353rem; // 25px
$font-size-lg:   1.2352941176rem; // 21px
$font-size-md:   1.1176470588rem; // 19px
$font-size-sm:   0.8823529412rem; // 15px
$font-size-xs:   0.8235294118rem; // 14px
$font-size-xxs:  0.7647058824rem; // 13px
$font-size-xxxs: 0.7058823529rem; // 12px
$font-size-tiny: 0.5294117647rem; // 9px

$line-height-default: 1.4117647059;

$font-stack: Lato, arial, helvetica, sans-serif;
$heading-font-stack: Catamaran, arial, helvetica, sans-serif;

$font-weight-bold: 700;
$font-weight-semibold: 500;
$font-weight-regular: 400;
$font-weight-light: 100;
