$font-size-default: 16px;

$font-size-xxxxl: 36px;
$font-size-xxxl: 30px;
$font-size-xxl:  24px;
$font-size-xl:   20px;
$font-size-lg:   18px;
$font-size-md:   16px;
$font-size-sm:   14px;
$font-size-xs:   13px;
$font-size-xxs:  12px;

$line-height-default: 1.4117647059;

$font-stack: Lato, arial, helvetica, sans-serif;
$heading-font-stack: Catamaran, arial, helvetica, sans-serif;

$font-weight-bold: 700;
$font-weight-semibold: 500;
$font-weight-regular: 400;
$font-weight-light: 100;
