.form-control-label {
  display: inline-block;
  margin-bottom: 3px;
  border: 0;
}

.form-control-label--inline {
  display: inline-block;
}

.form-control-label--hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
}

.form-control-label--has-error {
  color: $color-orange-dark;
}

.form-input-group--inline .form-control-label {
  display: inline-block;
  margin-right: $spacing-md;
}
