.form-control-label {
  color: $form-label-color;
  display: block;
  margin-bottom: 3px;
  border: 0;
}

.form-control-label--inline {
  display: inline-block;
  margin-right: $spacing-sm;
}

.form-control-label--hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
}

.form-control-label--has-error {
  color: $color-red-dark;
}

.form-input-group--inline {
  display: inline-block;
}


.form-control-help {
  font-size: $font-size-xs;
  color: $color-gray-60;
  margin-bottom: $spacing-sm;
}

.form-control-error {
  font-size: $font-size-xs;
  color: $color-red-dark;
  .form-input-group & {
    margin-bottom: $spacing-sm;
  }
}

.form-control-suffix-label {
  display: inline-block;
  color: $color-gray-60;
  margin-left: $spacing-xs;
}

.form-input-group--sm .form-control-label {
  font-size: $font-size-sm;
}

.form-input-group--xs .form-control-label {
  font-size: $font-size-xs;
}

.form-input-group--sm .form-control-suffix-label {
  font-size: $font-size-sm;
}